body{
    margin:0;
    padding:40px;
    background-color: rgb(67, 67, 172);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:auto;
}

.wheel{
    position:relative;
    width:500px;
    height:500px;
    padding-right: 50px;
}

.container{
    position:absolute;
    width:500px;
    height:500px;
    background-color:white;
    border-radius:50%;
    border:15px solid grey;
    position:relative;
    overflow:hidden;
    transition: transform 5s;
    background: conic-gradient(red 0deg, red 45deg, orange 45deg, orange 90deg, yellow 90deg, yellow 135deg, green 135deg, green 180deg, blue 180deg, blue 225deg, purple 225deg, purple 270deg, violet 270deg, violet 315deg, pink 315deg, pink 360deg);
}

#spin{
    position:absolute;
    top:52%;
    left:48.3%;
    transform:translate(-50%,-50%);
    z-index:10;
    background-color:lightgrey;
    text-transform: uppercase;
    border:8px solid white;
    font-weight:bold;
    font-size:23px;
    color:grey;
    width:85px;
    height:85px;
    font-family:sans-serif, Arial, Helvetica;
    border-radius:50%;
    cursor:pointer;
    outline:2px;
    letter-spacing:1px;
}

.arrow{
    position:absolute;
    top:calc(50% - 260px);
    left:48.3%; /* This weird percent is what is allowing for the arrow on the wheel to be centered*/
    transform:translateX(-50%);
    border-left:15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid white;
    z-index:5;
}

#result{
    padding-top:30px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.navigation{
    padding-top:70px;
    font-size: 20px;
    color: red;
}

.description{
    font-size:20px;
}

.description-box{
    padding-bottom: 20px;
}

.title{
    text-align: center;
}